@page
@model Immigration_Consultant_Booking_Core_Web.Pages.ConsultationBookings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ConsultationBooking</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ConsultationBooking.Consultant)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ConsultationBooking.Consultant.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ConsultationBooking.Client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ConsultationBooking.Client.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ConsultationBooking.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
