@page
@model Immigration_Consultant_Booking_Core_Web.Pages.Consultants.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Consultants</h1>

<p>
    <a class="btn btn-primary"  asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Consultant[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consultant[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consultant[0].Agency)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Consultant) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Agency.Name)
            </td>
            <td>
                <a class="btn btn-primary"  asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-primary"  asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-primary"  asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
